body{
    background-image: linear-gradient(135deg, #1D1D1D, #f58d16) ;
    height: 100vh;
}

#fotosara{
    background-image: url("assets/photos/Eu.png");
    height: 255px;
    width: 255px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

h1{
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700px;
    margin: 33px 0px 27px 0px;
    text-align: center;
}

.buttonSocial{
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 255px;
    height: 40px;
    background-color: #00000020;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 27px;
    cursor: pointer;
    padding-left: 35px;
    
    img{
        height: 26px; 
    }
    
    p{
        font-size: 1.25rem;
        padding-left: 15px;
    }

    
}

.instaButton{
    background-color: #00000070;
}

#contentParent{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

